In [3]:
#Declare an empty list
list1=[]

In [9]:
#Declare a list with more than 5 number of items
list2=[2,3,'hh','uu', True]
print(list2)

[2, 3, 'hh', 'uu', True]

In [10]:
#Find the length of your list
len(list2)

5

In [18]:
#Get the first item, the middle item and the last item of the list
print(list2[0])
print(list2[int(len(list2)/2)])
print(list2[-1])

2
hh
True

In [12]:
#Declare a list called mixed_data_types,put your(name, age, height, marital status, address)
mixed_data_types=['Shahriar', 29, 5.11, False, 'Helsinki']

In [79]:
#Declare a list variable name it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
it_companies=['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']

In [66]:
#int the list using print()
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [67]:
#Print the number of companies in the list
print(len(it_companies))

7

In [68]:
#Print the first, middle and last company
print(it_companies[0])
print(it_companies[int(len(it_companies)/2)])
print(it_companies[-1])

Facebook
Apple
Amazon

In [69]:
#Print modify any of the companies
it_companies[-2]='FCG'
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'FCG', 'Amazon']

In [70]:
#Add an IT company to it_companies
it_companies.append('Nokia')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'FCG', 'Amazon', 'Nokia']

In [71]:
#Insert an IT company in the middle of the companies list
it_companies.insert(int(len(it_companies)/2),'Holiday')

In [72]:
it_companies

['Facebook',
 'Google',
 'Microsoft',
 'Apple',
 'Holiday',
 'IBM',
 'FCG',
 'Amazon',
 'Nokia']

In [35]:
#Change one of the it_companies item to uppercase
it_companies[0].upper()

'FACEBOOK'

In [41]:
#Join the it_companies with a string '#;'
pp='#; '.join(it_companies)
print(pp)

Facebook#; Google#; Microsoft#; Apple#; Holiday#; IBM#; FCG#; Amazon#; Nokia

In [45]:
#Check if a certain company exists in the it_companies list.
'Facebook' in it_companies

True

In [48]:
#Sort the list using sort() method
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'FCG', 'Facebook', 'Google', 'Holiday', 'IBM', 'Microsoft', 'Nokia']

In [49]:
#Reverse the list in descending order using reverse() method
it_companies.reverse()
print(it_companies)

['Nokia', 'Microsoft', 'IBM', 'Holiday', 'Google', 'Facebook', 'FCG', 'Apple', 'Amazon']

In [52]:
it_companies.reverse()
print(it_companies)

['Amazon', 'Apple', 'FCG', 'Facebook', 'Google', 'Holiday', 'IBM', 'Microsoft', 'Nokia']

In [53]:
#Slice out the first 3 companies from the list
it_companies[:3]

['Amazon', 'Apple', 'FCG']

In [55]:
#Slice out the last 3 companies from the list
it_companies[-3:]

['IBM', 'Microsoft', 'Nokia']

In [56]:
#Slice out the middle IT company or companies from the list
it_companies[int(len(it_companies)/2)]

'Google'

In [62]:
#Remove the first IT company from the list
it_companies.remove(it_companies[0])
it_companies

['FCG', 'Facebook', 'IBM', 'Microsoft', 'Nokia']

In [60]:
it_companies[0]='Amazon'
it_companies

['Amazon', 'FCG', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Nokia']

In [61]:
#Remove the middle IT company or companies from the list
pp=it_companies[int(len(it_companies)/2)]
print(pp)
it_companies.remove(pp)
it_companies

Google

['Amazon', 'FCG', 'Facebook', 'IBM', 'Microsoft', 'Nokia']

In [63]:
#Remove the last IT company from the list
it_companies.remove(it_companies[-1])
it_companies

['FCG', 'Facebook', 'IBM', 'Microsoft']

In [75]:
#Remove all IT companies item
it_companies.clear()
it_companies

[]

In [80]:
#Destroy the IT companies list
del it_companies

In [82]:
#Join the following lists:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
full_stack= front_end+back_end
full_stack

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [84]:
#After joining the lists in question 26. Copy the joined list and assigned it to a variable full_stack. Then insert, Python and SQL after Redux.
full_stack.index('Redux')

4

In [85]:
full_stack[5]='Python'
full_stack[6]='SQL'
full_stack

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'MongoDB']

In [86]:
#The following is a list of 10 students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [87]:
min=ages[0]
max=ages[-1]
print(min)
print()
print(max)

19

26

In [88]:
#Add the min age and the max age
add=min+max
add

45

In [91]:
#Find the median age
median=ages[int(len(ages)/2)]
median

24

In [96]:
#Find the average age
average=sum(ages)/len(ages)
average

22.8

In [97]:
#Find the range of the ages
rang=max-min
rang

7

In [103]:
#Compare the value of (min - average) and (max - average)
mi=abs(min-average)
print(int(mi))
print()
ma=abs(max-average)
print(int(ma))

3

3

In [104]:
#
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
];

In [114]:
#Find the middle country(ies) in the countries list
middle=(len(countries)/2)
middle1=int(middle+.5)
middle2=int(middle-.5)
print('The middle countries are {} and {}'.format(countries[middle1],countries[middle2]))

The middle countries are Liberia and Lesotho

In [116]:
len(countries)/2

96.5

In [118]:
#Divide the countries list into two equal lists if it is even if not one more country for the first half.
first_half=countries[0:middle1]
len(first_half)

97

In [128]:
new=['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']

new.pop(0)
new.pop(0)
new.pop(0)
scandic_countries=new
scandic_countries

['Finland', 'Sweden', 'Norway', 'Denmark']