In [14]:
# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [2]:
#Find the length of the set, it_companies
len(it_companies)

7

In [5]:
#Add 'Twitter' to it companies
it_companies.add('Twitter')
print(it_companies)

{'Apple', 'Google', 'Facebook', 'IBM', 'Oracle', 'Twitter', 'Microsoft', 'Amazon'}

In [15]:
#Insert multiple it companies at once to the set, it_companies
set2=('FCG','Nokia')
it_companies.update(set2)

In [17]:
print(it_companies)

{'Apple', 'Google', 'Facebook', 'FCG', 'Nokia', 'IBM', 'Oracle', 'Microsoft', 'Amazon'}

In [18]:
#Remove one of the companies from the set, it_companies
it_companies.remove('FCG')
print(it_companies)

{'Apple', 'Google', 'Facebook', 'Nokia', 'IBM', 'Oracle', 'Microsoft', 'Amazon'}

In [19]:
#What is the difference between remove and discard
""" If the item is not found remove() method raise an errors. However, discard() method doesn't raise an error."""

" If the item is not found remove() method raise an errors. However, discard() method doesn't raise an error."

In [20]:
#Join A and B
c=A.union(B)
print(c)

{19, 20, 22, 24, 25, 26, 27, 28}

In [21]:
#Find A intersection B
C=A.intersection(B)
print(C)

{19, 20, 22, 24, 25, 26}

In [22]:
#Is A subset of B
A.issubset(B)

True

In [23]:
#Are A and B disjoint sets
A.isdisjoint(B)

False

In [25]:
#Join A with B and B with A
A.update(B)
print(A)

{19, 20, 22, 24, 25, 26, 27, 28}

In [26]:
B.update(A)
print(B)

{19, 20, 22, 24, 25, 26, 27, 28}

In [27]:
#What is the symmetric difference between A and B
A.symmetric_difference(B)

set()

In [28]:
#Delete the sets completely
del A
del B

In [30]:
#Convert the ages to set and compare the length of the list and the set, which is larger ?
AGE_SET=set(age)
print(AGE_SET)

{19, 22, 24, 25, 26}

In [33]:

print('Length of age when its a list is {}'.format(len(age)))
print('Length of age when its a set is {}'.format(len(AGE_SET)))

Length of age when its a list is 8
Length of age when its a set is 5

In [36]:
#I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence.
v='I am a teacher and I love to inspire and teach people.'
L=v.split(' ')
print(L)

['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people.']

In [37]:
st=set(L)
print(len(st))

10

In [38]:
#Explain the difference among the following data types: string, list, tuple and set
string="Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters."
"List is a collection which is ordered and changeable. Allows duplicate members."
"Tuple is a collection which is ordered and unchangeable. Allows duplicate members."
"Set is a collection which is unordered and unindexed. No duplicate members."

'Set is a collection which is unordered and unindexed. No duplicate members.'